* {
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: #b36dff;
    display: flex;
    align-items: center;
}

.contenedor {
    width: 1360px;
    height: 555px;
    margin: 0 auto;
    position: relative;
    border: 1px solid black;
    background-image: url(img/panoramio-98933303.jpg);
}

.bosco {
    width: 168px;
    height: 168px;

    position: absolute;
    bottom: 22px;
    left: 15px;
    z-index: 2;

    background: url(img/EstáJustoAlDoble.png) repeat-x 0px 0px;
    background-size: 672px 168px;
    background-position-x: 0px;

}

.dombis-corriendo{
    animation: animarBosco 0.25px steps(2) infinite;
}

.dombis-estrellado{
    background-position-x: -504px;
}

@keyframes animarBosco {
    from{
        background-position-x: -168px;
    }
    to{
        background-position-x: -504px;
    }
}


.suelo{
    width: 200%;
    height: 42px;

    position: absolute;
    bottom: 0;
    left: 0;
    background: url(img/suelo.png) repeat-x 0px 0px;
    background-size: 50% 42px;
}

.score{
    width: 200px;
    height: 70px;

    position: absolute;
    top: 30px;
    right: 50px;
    z-index: 10;
    color: white;
    font-family: Verdana;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
}